<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AppNative.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Audio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CatmullRom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Color.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Fade.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Font.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Graphic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Key.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>LoadPath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MainCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Network.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Noncopyable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Random.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Rect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Scene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Tcp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>TweakBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Udp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Utility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Vector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06BE728D0D6B4500957894AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BAA4D38B7CD4DEA90612AF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>120D674F8C774FB4AF39BBFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1227BCB01CF7459489CB8189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C0FC7AF114E40DA80D729F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>206E9ECA1C254F2A918104DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4201C0D8B2244FFC9EBFB786</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4237B0D4CE3440529F422F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B1C738C53CF42629FC6003C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F173AFE40F4678AC28F326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E589D61B743481189D52685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D13159C84424273A63518A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74F9E91A10D54D67BD647051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78BBBEF513F4427690869684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9506743BBFBE4E46B3ED83F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96E942E4BF774C93A43DDC09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9860BD7636C0442685A8FD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BCA7CFD07254107BC79997D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A5D6D7C75A4F08A4B17F9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEAE1AE69F8B48D9A1A6E6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C00487044F664305BC67C1F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB904E7A8D3E43DFA8A5228D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1E08779985499FBBDE2853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA75A34ABDAF4FD6AB29954C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1508556D41F4D1E99A65BE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F81826A0F1E84140832D589E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
