<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AppNative.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Audio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CatmullRom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Color.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Connection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Fade.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Font.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Game.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Graphic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Key.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>LoadPath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MainCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Noncopyable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Random.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Rect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Scene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>TweakBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Udp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Utility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Vector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00EF3EDE3D804F01BFBFF3FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD75F80DC354DDB87F57F7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20D58C5242674D69BAF85B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35A253F762CA4642A4862068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36CB2A10F7A249D99369BD6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E9CA0DA02F2468BA6BE4DF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5747903386054ED7A3C9E942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59601C0FFECA43C6A3233010</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FDBD2C5E0054CD886FDDE79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8122D3100F694714836DE55C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D51740B3249495D89DCC022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FAF40E4076B4F81836893D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E334B2A1BD4408D865AD1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3C00A52C20F4E84AC6CDD5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B27802EB31EB4494BFF6C695</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB2892855DEE4B44B163D9EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC223205BD3D47FABD411947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCEED0F3E1A24992BD09BA8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18F6850F29A4C5FBE9D0998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEE07C05DF0547C598F38CF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D03A701779D7427788A32565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEBA0B9C98D34FBFB0DE4CD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6559AE088BA453592E4FA1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA4A42B342144FA0BBD55DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
